#calculator {
	height: 400px;
	width: 370px;
	background-color: #0D0D0D;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px;
}

.button {
	font-size: 20px;
	text-align: center;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.numeric {
	background-color: #333333;
}

.operator {
	background-color: #FF9E08;
}

#numbers {
	display: flex;
	margin-right: 20px;
	margin-left: 20px;
}

#display {
	font-size: 60px;
	color: white;
	text-align: right;
	padding-right: 20px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

