.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
	margin-top: 70px;
	width: 30%;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
}
