body {
	background-color: #69B6CD;
}

form#login {
	margin: 0 auto;
	background-color: white;
	margin: auto;
	width: 30%;
	border-width: 5px;
	border-radius: 5px;
	border: solid gray;
	align-self: center;
}

.inputs {
	padding: 10px;
	width: 60%;
}

#sign {
	margin : 10px;
	width: 30%;
}

h3 {
	padding: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	
}