#calculadora {
    display: inline-block;
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#math {
    margin: 20px 20px 20px 20px;
}

.operators {
    font-size: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
}