.titleBody {
	font-size: 18;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	text-align: center
}

body {
	background-color: #0913FF
}

.buttonColor {
	width: 200px;
	height: 50px;
	font-size: 16px;
	border: solid;
}